.flex, .sections #section-1, .sections #section-1 .content-section-1, .sections #section-1 .content-section-1 .flex-section-1, .sections #section-2, .sections #section-2 .content-section-2, header, header .header-nav-bar, header .header-menu, header .header-buttons, header .header-hero, header .header-hero .header-hero-buttons {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Ubuntu", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

header {
  padding: 0 100px;
  flex-direction: column;
  height: 500px;
  background-image: url("../img/bg-pattern-intro.svg"), linear-gradient(176deg, #ff8f70 0%, #ff3d54 100%);
  background-size: 200%;
  background-position: 17% 50%;
  border-bottom-left-radius: 100px;
  color: #fff;
}
header .header-nav-bar {
  width: 100%;
}
header .header-menu {
  justify-content: flex-start;
  width: 60%;
  height: 150px;
}
header .header-menu img {
  padding-right: 50px;
  transform: scale(0.7);
}
header .header-menu li {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  margin: 0 30px;
}
header .header-menu li img {
  padding: initial;
  transform: initial;
  filter: grayscale(100%) brightness(200%);
}
header .header-buttons {
  justify-content: center;
  width: 40%;
}
header .header-buttons button:nth-of-type(2):hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
header .header-buttons button:nth-of-type(1) {
  padding: 3% 12%;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}
header .header-buttons button:nth-of-type(2) {
  padding: 3% 12%;
  font-size: 1.1rem;
  font-weight: bold;
  color: #FF7A85;
  background-color: #fff;
}
header .header-hero {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(500px - 150px);
}
header .header-hero h1 {
  font-size: 3em;
  font-weight: 500;
}
header .header-hero p {
  margin: 15px 0 40px 0;
  font-weight: 400;
}
header .header-hero .header-hero-buttons {
  height: 100px;
  justify-content: center;
  width: 40%;
}
header .header-hero .header-hero-buttons button {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 10px;
  padding: 3%;
}
header .header-hero .header-hero-buttons button:nth-of-type(1) {
  background-color: #fff;
  color: #FF7A85;
}
header .header-hero .header-hero-buttons button:nth-of-type(1):hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
header .header-hero .header-hero-buttons button:nth-of-type(2) {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
header .header-hero .header-hero-buttons button:nth-of-type(2):hover {
  background-color: #fff;
  color: #FF7A85;
  border: none;
}

.sections {
  padding: 7rem 0;
  width: 100%;
  overflow: hidden;
}
.sections h1 {
  font-family: "Overpass", sans-serif;
  color: #2C2D3F;
  font-size: 1.5rem;
}
.sections h2 {
  font-weight: 600;
}
.sections p {
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  margin: 1.5rem 0 2.5rem 0;
  line-height: 1.5rem;
}
.sections h2, .sections p {
  font-family: "Overpass", sans-serif;
  color: #2C2D3F;
}
.sections #section-1 {
  justify-content: center;
  width: 100%;
}
.sections #section-1 .content-section-1 {
  flex-direction: column;
  width: 80%;
}
.sections #section-1 .content-section-1 .flex-section-1 {
  width: 100%;
  justify-content: space-between;
}
.sections #section-1 .content-section-1 .flex-section-1 .img-section-1 {
  width: 50%;
}
.sections #section-1 .content-section-1 .flex-section-1 .img-section-1 img {
  position: relative;
  left: 14rem;
  width: 100%;
  transform: scale(1.4);
}
.sections #section-1 .content-section-1 .flex-section-1 .text-section-1 {
  padding-top: 5.5rem;
  width: 50%;
}
.sections #section-1 .content-section-1 .flex-section-1 .text-section-1 p {
  color: #4b5862;
}
.sections #section-2 {
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-top: 70px;
  background: url("../img/bg-pattern-circles.svg"), #2C2D3F;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: -54% -390px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}
.sections #section-2 .content-section-2 {
  width: 80%;
  height: 100%;
  justify-content: space-between;
}
.sections #section-2 .content-section-2 img {
  position: relative;
  left: -83px;
  transform: scale(0.7);
}
.sections #section-2 .content-section-2 .text-section-2 h1 {
  color: #fff;
}
.sections #section-2 .content-section-2 .text-section-2 p {
  color: #BEC8C2;
}

/*# sourceMappingURL=styles.css.map */
