.flex, footer, footer nav, .sections #section-1, .sections #section-1 .content-section-1, .sections #section-1 .content-section-1 .flex-section-1, .sections #section-2, .sections #section-2 .content-section-2 .flex-section-2, .sections #section-3, .sections #section-3 .content-section-3, .sections #section-3 .content-section-3 .flex-section-3, header, header .header-nav-bar, header .header-menu, header .header-menu li .header-sub-menu, header .header-buttons, header .header-menu-mobile, header .header-menu-mobile ul li .header-sub-menu, header .header-hero, header .header-hero .header-hero-buttons {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Overpass", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

header {
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 100px;
  height: 500px;
  background-image: url("../img/bg-pattern-intro.svg"), linear-gradient(176deg, #ff8f70 0%, #ff3d54 100%);
  background-size: 200%;
  background-position: 17% 50%;
  border-bottom-left-radius: 100px;
  color: #fff;
}
header .header-nav-bar {
  justify-content: space-between;
  width: 100%;
}
header .header-menu {
  justify-content: flex-start;
  width: 70%;
  height: 150px;
}
header .header-menu img {
  padding-right: 50px;
  transform: scale(0.7);
}
header .header-menu li {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  margin: 0 15px;
  position: relative;
}
header .header-menu li .header-sub-menu {
  width: 150%;
  background-color: #fff;
  color: #4b5862;
  font-weight: 600;
  position: absolute;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  display: none;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.2rem 0.5rem 0.5rem 0.1rem;
}
header .header-menu li .header-sub-menu li {
  margin: 1rem 0 0.5rem 0.5rem;
}
header .header-menu li img {
  padding: initial;
  transform: initial;
  filter: grayscale(100%) brightness(200%);
}
header .header-buttons {
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  width: 40%;
  justify-self: flex-end;
}
header .header-buttons button:nth-of-type(2):hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
header .header-buttons button:nth-of-type(1) {
  padding: 3% 47px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}
header .header-buttons button:nth-of-type(2) {
  padding: 3% 47px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #FF7A85;
  background-color: #fff;
}
header i {
  cursor: pointer;
  font-size: 1.6rem;
}
header .header-menu-mobile {
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  width: calc(100% - 20px);
  background-color: #fff;
  color: #4b5862;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 30px;
  padding: 2rem 0;
  border-radius: 10px;
  transition: all 0.5s linear;
  box-shadow: 0px 11px 25px 3px #474747;
  position: absolute;
  top: -150vh;
}
header .header-menu-mobile ul {
  width: 100%;
}
header .header-menu-mobile ul li {
  text-align: center;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
header .header-menu-mobile ul li .header-sub-menu {
  position: relative;
  width: 90%;
  margin: 1.4rem auto;
  justify-content: center;
  flex-direction: column;
  padding: 1.1rem 0;
  background-color: #EFEFF1;
  display: none;
}
header .header-menu-mobile ul li .header-sub-menu li {
  width: initial;
}
header .header-menu-mobile hr {
  width: calc(100% - 40px);
  opacity: 0.2;
}
header .header-menu-mobile button:nth-of-type(2) {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
header .header-menu-mobile button:nth-of-type(1) {
  background-color: #fff;
  color: #FF7A85;
}
header .header-menu-mobile button {
  font-size: 1.1rem;
  font-weight: bold;
  width: 9rem;
  padding: 15px 0;
}
header .header-menu-mobile button:first-of-type {
  color: #4b5862;
}
header .header-menu-mobile button:last-of-type {
  background-image: linear-gradient(120deg, #ff8f70 0%, #ff3d54 100%);
}
header .header-hero {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(500px - 150px);
}
header .header-hero h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}
header .header-hero p {
  margin: 15px 0 40px 0;
  font-weight: 400;
}
header .header-hero .header-hero-buttons {
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  height: 100px;
  width: 40%;
}
header .header-hero .header-hero-buttons button {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 10px;
  padding: 3%;
  min-width: 135px;
}
header .header-hero button:nth-of-type(1) {
  background-color: #fff;
  color: #FF7A85;
}
header .header-hero button:nth-of-type(1):hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
header .header-hero button:nth-of-type(2) {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
header .header-hero button:nth-of-type(2):hover {
  background-color: #fff;
  color: #FF7A85;
  border: none;
}

.sections {
  padding: 7rem 0;
  width: 100%;
  overflow: hidden;
  /*SECTION 2*/
  /*SECTION 3*/
}
.sections h1 {
  font-family: "Overpass", sans-serif;
  color: #2C2D3F;
  font-size: 1.5rem;
}
.sections h2 {
  font-weight: 600;
}
.sections p {
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  margin: 1.5rem 0 2.5rem 0;
  line-height: 1.5rem;
}
.sections h2, .sections p {
  font-family: "Overpass", sans-serif;
  color: #2C2D3F;
}
.sections #section-1 {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.sections #section-1 .content-section-1 {
  flex-direction: column;
  width: 80%;
}
.sections #section-1 .content-section-1 .flex-section-1 {
  width: 100%;
  justify-content: space-between;
}
.sections #section-1 .content-section-1 .flex-section-1 .img-section-1 {
  width: 50%;
  position: relative;
}
.sections #section-1 .content-section-1 .flex-section-1 .img-section-1 img {
  position: absolute;
  right: -403px;
  width: 750px;
  height: 750px;
  top: -23rem;
}
.sections #section-1 .content-section-1 .flex-section-1 .text-section-1 {
  padding-top: 5.5rem;
  width: 50%;
}
.sections #section-1 .content-section-1 .flex-section-1 .text-section-1 p {
  color: #4b5862;
}
.sections #section-2 {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin-top: 70px;
  background: url("../img/bg-pattern-circles.svg"), #2C2D3F;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: -54% -390px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}
.sections #section-2 .content-section-2 {
  width: 80%;
  height: 100%;
}
.sections #section-2 .content-section-2 .flex-section-2 {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.sections #section-2 .content-section-2 .flex-section-2 img {
  position: relative;
  left: -83px;
  transform: scale(0.7);
}
.sections #section-2 .content-section-2 .flex-section-2 .text-section-2 h1 {
  color: #fff;
}
.sections #section-2 .content-section-2 .flex-section-2 .text-section-2 p {
  color: #BEC8C2;
}
.sections #section-3 {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10rem;
}
.sections #section-3 .content-section-3 {
  flex-direction: column;
  width: 80%;
}
.sections #section-3 .content-section-3 .flex-section-3 {
  width: 100%;
  justify-content: space-between;
}
.sections #section-3 .content-section-3 .flex-section-3 .img-section-3 {
  width: 50%;
  position: relative;
}
.sections #section-3 .content-section-3 .flex-section-3 .img-section-3 img {
  position: absolute;
  left: -358px;
  width: 750px;
  height: 750px;
  top: -23rem;
}
.sections #section-3 .content-section-3 .text-section-3 {
  padding-top: 5.5rem;
  width: 50%;
}
.sections #section-3 .content-section-3 .text-section-3 p {
  color: #4b5862;
}

footer {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #25252D;
  margin-top: 5rem;
  border-top-right-radius: 70px;
  padding: 4rem 0;
}
footer nav {
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 0 14rem 0 0;
  color: #BEC8C2;
}
footer nav li {
  cursor: pointer;
  margin-bottom: 0.5rem;
}
footer nav li a:hover {
  text-decoration: underline;
}
footer nav ul li:first-of-type {
  color: #fff;
  margin-bottom: 1.5rem;
}

.active {
  display: flex !important;
}

.transform {
  transform: rotate(180deg) !important;
}

.hide {
  display: none !important;
}

.show-top {
  position: relative !important;
  top: 0vh !important;
}

@media (min-width: 1024px) {
  header {
    height: 500px !important;
  }

  header .header-nav-bar .toggle, .show-top {
    display: none;
  }

  .img-section-1-mobile, .img-section-3-mobile {
    display: none;
  }
}
@media (max-width: 1023px) {
  header {
    padding: 0 35px;
    height: 600px !important;
  }

  .header-menu ul, .header-nav-bar .header-buttons {
    display: none;
  }

  .toggle {
    display: block;
  }

  .sections {
    padding: 7rem 0 0 0;
  }
  .sections #section-1 {
    text-align: center;
  }
  .sections #section-1 .flex-section-1 {
    flex-direction: column;
  }
  .sections #section-1 .flex-section-1 .img-section-1-mobile {
    width: 100%;
    margin-top: 2rem;
  }
  .sections #section-1 .flex-section-1 .img-section-1-mobile img {
    max-width: 400px;
    width: 90%;
  }
  .sections #section-1 .flex-section-1 .text-section-1 {
    padding-top: 2rem !important;
    width: 100% !important;
  }
  .sections #section-1 .flex-section-1 .img-section-1 {
    display: none;
  }
  .sections #section-2 {
    margin-top: 7rem;
    height: 31rem !important;
    background-size: 160%;
    background-position: 49% 25%;
  }
  .sections #section-2 .content-section-2 .flex-section-2 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 2.5rem;
  }
  .sections #section-2 .content-section-2 .flex-section-2 img {
    max-width: 331px;
    width: 100%;
    transform: scale(1);
    left: 0.6rem;
    top: 0;
    position: relative;
  }
  .sections #section-2 .content-section-2 .flex-section-2 .text-section-2 {
    width: 100%;
    text-align: center;
  }
  .sections #section-3 {
    text-align: center;
    margin: 1rem 0 0 0 !important;
  }
  .sections #section-3 .flex-section-3 {
    flex-direction: column;
  }
  .sections #section-3 .flex-section-3 .img-section-3-mobile {
    width: 100%;
    margin-top: 2rem;
  }
  .sections #section-3 .flex-section-3 .img-section-3-mobile img {
    max-width: 600px;
    width: 90%;
  }
  .sections #section-3 .flex-section-3 .text-section-3 {
    padding-top: 2rem !important;
    width: 100% !important;
  }
  .sections #section-3 .flex-section-3 .img-section-3 {
    display: none;
  }
}
@media (max-width: 300px) {
  .header-hero-buttons {
    flex-direction: column;
  }
  .header-hero-buttons button {
    padding: 0.6rem !important;
    margin: 10px 0 !important;
  }
}

/*# sourceMappingURL=styles.css.map */
