@use "variables";
@use "extend";
@use "mixin";
@use "if";

footer{
    @include mixin.center();
    width: 100%;
    background-color: #25252D;
    margin-top: 5rem;
    border-top-right-radius: 70px;
    padding: 4rem 0;

    .bottom-menu{
        @extend .flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 85%;
        padding: 0 14rem 0 0;
        color: variables.$text-color;

        nav{
            display: flex;
            justify-content: space-around;
            width: 75%;
            padding-left: 10%;

            li{
                cursor: pointer;
                margin-bottom: 0.5rem;
    
                a:hover{
                    text-decoration: underline;
                }
            }
    
            ul li:first-of-type{
                color: variables.$primary-color;
                margin-bottom: 1.5rem;
            }
        }
    }
}