@use "variables";
@use "extend";
@use "mixin";
@use "if";

header {
    @include mixin.center();
    justify-content: flex-start;
    padding: 0 100px;
    height: 500px;
    background-image: url("../img/bg-pattern-intro.svg"), linear-gradient(176deg, #ff8f70 0%, #ff3d54 100%);
    background-size: 200%;
    background-position:17% 50%;
    border-bottom-left-radius: 100px;
    color: variables.$primary-color;

    .#{&}-nav-bar {
        @extend .flex;
        justify-content: space-between;
        width: 100%;
    }

    .#{&}-menu {
        @extend .flex;
        justify-content: flex-start;
        width: 70%;
        height: 150px;

        img {
            padding-right: 50px;
            transform: scale(0.7)
        }

        li {
            cursor: pointer;
            @include mixin.font();
            display: inline-block;
            margin: 0 15px;
            position: relative;

            .header-sub-menu{
                width: 150%;
                background-color: variables.$primary-color;
                color: #4b5862;
                font-weight: 600;
                position: absolute;
                text-align: left;
                @include mixin.center();
                display: none;
                border-radius:5px;
                margin-top: 1rem;
                font-size: 1rem;
                padding: 0.2rem 0.5rem 0.5rem 0.1rem;

                li{
                    margin: 1rem 0 0.5rem 0.5rem;
                }
            }

            img {
                padding: initial;
                transform: initial;
                filter: grayscale(100%) brightness(200%);           
            }
        }
    }

    .#{&}-buttons {
        @include mixin.center();
        flex-direction: row;
        width: 40%;        
        justify-self: flex-end;
    
        button:nth-of-type(2):hover{
            @include mixin.button-red();
        }
    }
    

    @each $button in 1,2{
        .#{&}-buttons button:nth-of-type(#{$button}){
            padding: 3% 47px;
            @include mixin.font();
            @include if.color(#{$button});
            @include if.bg(#{$button});
        }
    }

    i{cursor:pointer;font-size: 1.6rem}

    .#{&}-menu-mobile{
        @include mixin.center();
        flex-direction: column;
        width: calc(100% - 20px);
        background-color: variables.$primary-color;
        color: #4b5862;
        font-weight: 600;
        font-size: 1.1rem;
        margin-left: 30px;
        padding: 2rem 0;
        border-radius: 10px;
        transition: all 0.5s linear;
        box-shadow: 0px 11px 25px 3px #474747;
        position: absolute;
        top: -150vh;
        ul{
            width: 100%;

            li{
                text-align: center;
                width: 100%;
                position: relative;
                margin-bottom: 1.5rem;
                cursor: pointer;
    
                .header-sub-menu{
                    position: relative;
                    width: 90%;
                    margin: 1.4rem auto;
                    @include mixin.center();
                    padding: 1.1rem 0;
                    background-color: #EFEFF1;
                    display: none;

                    li{width: initial;}
                }
            }
        }
        
        hr{
            width: calc(100% - 40px);
            opacity: 0.2;
        }
        @each $button in 2,1 {
            $false: false;
            @include mixin.button($false, $button);
        }
        button{
            @include mixin.font();
            width:9rem;
            padding: 15px 0;
        }
        button:first-of-type{color: #4b5862;}
        button:last-of-type{background-image: linear-gradient(120deg, #ff8f70 0%, #ff3d54 100%);}
    }

    .#{&}-hero{
        @include mixin.center();
        width: 100%;
        height: calc(500px - 150px);

        h1 {
            font-family: 'Ubuntu', sans-serif;
            font-size: 3em;
            font-weight: 500;
            text-align: center;
        }
        p{
            margin: 15px 0 40px 0;
            font-weight: 400;
        }

        .header-hero-buttons{
            @include mixin.center();
            flex-direction: row;
            height: 100px;
            width: 40%;

            button {
                @include mixin.font();
                margin: 0 10px;
                padding: 3%;
                min-width: 135px;
            }
        }

        @each $button in 1,2 {
            $true: true;
            @include mixin.button($true, $button);
        }
    }
}