@use "variables";
@use "extend";
@use "if";

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin font {
    font-size: 1.1rem;
    font-weight: bold;
}

@mixin font-section {
    font-family: 'Overpass', sans-serif;
    color: variables.$title-color;
}

@mixin button ($hover, $button){
    button:nth-of-type(#{$button}){
        @if($button) == 1{
            @include button-white();
            @if($hover) == true{
                &:hover{
                    @include button-red();
                }
            }
        }
        @else{
            @include button-red();
            @if($hover)==true{
                &:hover{
                    @include button-white();
                    border: none;
                }
            }
        }
    }
}

@mixin button-white {
    @include if.bg(2);
    @include if.color(2);
}

@mixin button-red {
    @include if.bg("1");
    @include if.color("1");
    border: 1px solid variables.$primary-color;
}